.events-page {
  padding-top: 2rem;
}
.main-events {
  max-width: 90%;
  margin: 0 auto;
}
/* ---------- Header ---------- */
.events-page__grid {
  display: grid;
  grid-template-columns: 55% 45%;
}
@media (max-width: 768px) {
  .events-page__grid {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.events-page__header {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.events-page__title {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2;
  white-space: normal;
}

.events-page__link {
  font-size: 1.1rem;
  font-weight: 700;
  color: #0f766e;
  text-decoration: none;
  width: fit-content;
  text-decoration: underline;
}

.events-page__link:hover {
  text-decoration: underline;
}

/* ---------- Filters ---------- */

.events-page__filters {
  margin-bottom: 1.25rem;
}

.filters {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.filters__item {
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  background: #fff;
  border: 1px solid #d1d5db;
  border-radius: 999px;
  cursor: pointer;
}

.filters__item:hover {
  background: #f9fafb;
}

/* стрелка */
.filters__item::after {
  content: "";
  display: inline-block;

  width: 0.4rem;
  height: 0.4rem;

  border-right: 2px solid #6b7280;
  border-bottom: 2px solid #6b7280;

  transform: translateY(-1px) rotate(45deg); // ▼
  margin-left: 0.5rem;
}

/* ---------- Layout ---------- */

.events-layout {
  display: grid;
  grid-template-columns: 100%;
  gap: 2rem;
  align-items: start;
  margin-top: 3rem;
}

/* ---------- List ---------- */

/* ---------- Map ---------- */
.events-header__map {
  width: 55%;
  max-height: 2rem;
  justify-self: end;

  margin-top: 2rem;
}
.events-layout__map {
  top: 6rem;

  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.events-map__header {
  display: flex;
  flex-direction: column;
  font-size: 0.65rem;
  font-weight: 600;
  color: #000;
}

.events-map__city {
  font-size: 0.875rem;
  font-weight: 600;
  color: #111827;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.events-layout__map img {
  flex: 1;
  width: 50%;
  object-fit: cover;
  border-radius: 0.75rem;
}

/* ---------- Map Button ---------- */

.map-button {
  align-self: center;

  display: inline-flex;
  align-items: center;
  gap: 0.375rem;

  padding: 0.5rem 0.75rem;
  border-radius: 999px;

  background: #fff;
  border: 1px solid #d1d5db;

  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.map-button:hover {
  background: #f9fafb;
}

/* ---------- Mobile ---------- */

@media (max-width: 48rem) {
  .events-layout {
    grid-template-columns: 1fr;
  }

  .events-header__map {
    display: none;
  }
}

@media (max-width: 640px) {
  .events-page__title {
    font-size: 1.375rem;
  }

  .filters {
    gap: 0.5rem;
  }

  .filters__item {
    font-size: 0.75rem;
    padding: 0.4rem 0.65rem;
  }
}

.main-events .event-card {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 1rem;
  row-gap: 2rem;
  align-items: stretch;
  background: transparent;
  box-shadow: none;
  border: none;
  border-top: 1px solid #6b7280;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding-top: 0.75rem;
  border-radius: 0;
  position: relative;
}
.main-events .event-card ::before {
  padding-top: 0.75rem;
}
.page-events .event-card__image {
  align-self: flex-start;
  flex-shrink: 0;
  height: 100%;
  background: transparent;
  height: 9rem;
}
.main-events .event-card__image img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem;
}
.main-events .event-card__content > * {
  margin: 0;
}
.main-events .event-card__content {
  display: flex !important;
  flex-direction: column !important;
  height: 100%;
  gap: 0.5rem !important;
}
.page-events .event-card__image {
  position: relative;
}

.page-events .event-card__badge {
  position: absolute;
  display: inline-flex;
  top: 0.5rem;
  right: 0, 5rem;
  white-space: nowrap;

  background: #fff;
  color: #000;
  font-size: 0.6rem;
  padding: 0.15rem 1rem;
  border-radius: 999px;
  z-index: 2;
}
@media (max-width: 768px) {
  .page-events .event-card__badge {
    position: absolute;
    display: inline-flex;
    bottom: 5rem;
    left: 8.5rem;

    white-space: nowrap;

    background: #fff;
    color: #000;
    font-size: 0.8rem;
    padding: 0.15rem 1rem;
    border-radius: 999px;
    z-index: 2;
  }
  @media (max-width: 414px) {
    .events-page .main-events {
      max-width: 100%;
      margin: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .events-page__filters {
      display: flex;
      flex-wrap: nowrap;
    }
    .filters select,
    .filters__item events-filters {
      min-width: 30%;
      padding: 0.5rem 0.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
.page-events .event-card__top {
  display: block;
  position: absolute;
  top: 0.75rem;
  right: 28.5rem;
  z-index: 5;
}
.page-events .destop-hidden__attendees {
  display: block;
  padding-top: 4rem;
}

.page-events .event-card__details {
  margin-top: 0;
}

.events-map__img {
  width: 100%;
  display: block;
  border-radius: 0.875rem;
}

.events-map__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.6rem 1rem;
  background: #ffffff;
  border: 1px solid #d0d7de;
  border-radius: 999px;

  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.events-map__icon {
  font-size: 0.9em;
}
.events-layout__map {
  align-self: flex-start;
  margin-top: 0;
}
.events-map {
  position: relative;
  width: 100%;
  max-width: 40rem;
}
.events-map__frame {
  width: 100%;
  height: 19rem;
  border: 0;
  border-radius: 8px;
  display: block;
}

.events-map__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.6rem 0.5rem;
  background: #fff;
  border: 2px solid #0f766e;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #0f766e;
  font-weight: 600;
  font-size: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  width: 10rem;
}
