@use "../base/variables" as *;
@media (max-width: 48rem) {
  .events-preview__grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
@media (max-width: 768px) {
  .event-card:nth-child(n + 4) {
    display: none;
  }
}

@media (max-width: 768px) {
  .event-card {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: start; // важно
    gap: 1rem;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }
  @media (max-width: 48rem) {
    /* сбрасываем карточку */
    .event-card {
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      padding: 0.75rem 0;
    }

    /* ЛИНИЯ СВЕРХУ — только у первой карточки */
    .events-preview__grid .event-card:first-child {
      border-top: 1px solid #666;
    }

    /* ЛИНИЯ СНИЗУ — у всех, кроме последней */
    .events-preview__grid .event-card {
      border-bottom: 1px solid #666;
    }

    .events-preview__grid .event-card:nth-child(3) {
      border-bottom: none;
    }
  }
}
@media (max-width: 48rem) {
  .event-card__image {
    width: 100%;
    height: 65%;
    aspect-ratio: 1 / 1; // ❗ не 1/1
    overflow: hidden;
    border-radius: 0.5rem;
  }
}
@media (max-width: 768px) {
  .event-card__content {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.4rem;
  }
}
@media (max-width: 768px) {
  .event-card__details {
    order: 1;
    margin: 0;
    font-size: 0.6rem;
  }

  .event-card__title {
    order: 2;
    margin: 0;
    line-height: 1;
    font-size: 0.7rem;
    max-width: 30ch;
  }

  .event-card__meta {
    order: 3;
    margin: 0;
    line-height: 1;
    font-size: 0.6rem;
  }

  .event-card__badge {
    order: 4;
    margin-top: 0.2rem;
  }
}
@media (max-width: 768px) {
  .event-card__details .event-card__item:not(:first-child),
  .event-card__dot {
    display: none;
  }

  .event-card__top {
    display: none;
  }
}
@media (max-width: 768px) {
  .event-card:hover {
    transform: none;
    box-shadow: none;
  }
  .events-near__link {
    display: none;
  }
  .events-preview__link {
    display: none;
  }
  .events-near__header {
    flex-wrap: nowrap;
    align-items: start;
    gap: 0.1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .events-near__heading {
    display: flex;
    align-items: baseline;
    white-space: nowrap;
  }
  .events-near__title {
    gap: 0.2rem;
    font-size: 1.2rem;
  }
  .location-input {
    max-width: 100%;
    font-size: 0.875rem;
  }
  .location-input input {
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    font-size: 0.875rem;
  }
  .location-input__icon {
    position: absolute;
    right: 1.5rem;
  }
  .event-card__top {
    display: none;
  }
}
