@media (max-width: 48rem) {
  .events-preview__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .event-card:nth-child(n + 4) {
    display: none;
  }
}
@media (max-width: 768px) {
  .event-card {
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: stretch;
  }
}

@media (max-width: 768px) {
  .event-card_image {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1; // аккуратный квадрат
    overflow: hidden;
    border-radius: 0.75rem;
  }

  .event-card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

.event-card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .event-card_content {
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .event-card_title {
    font-size: 0.95rem;
    margin-bottom: 0.25rem;
  }

  .event-card_details {
    font-size: 0.8rem;
    gap: 0.25rem;
  }
}
@media (max-width: 768px) {
  .event-card:hover {
    transform: none;
    box-shadow: none;
  }
  .events-near__link {
    display: none;
  }

  .events-preview__link {
    display: none;
  }
  .events-near__header {
    flex-wrap: nowrap;
    gap: 0.1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
  .location-input {
    margin-left: 0;
    margin-right: 4rem;
  }
  .location-input input {
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
  }
  .location-input__icon {
    position: absolute;
    right: 1.5rem;
  }
}
