.header {
  width: 100%;
}

.header__inner {
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  padding-top: 0.8rem;
}
.header__logo {
  text-decoration: none;
  font-weight: 600;
  white-space: nowrap;
}

.header__left {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 45%;
}

.header__search {
  position: relative;
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  flex: 1;
  width: 100%;
  margin-left: 2rem;
  height: 2.5rem;
  overflow: hidden;
}

.search__icon {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0.5rem;
  margin-right: 0.3rem;
  flex-shrink: 0;
}
.header__input {
  flex: 1;
  border: none;
  background: transparent;
  padding: 0.1rem;
  font-size: 0.875rem;
}

.header__input--location {
  border-left: 1px solid #ddd;
  padding-left: 0.5rem;
}

.header__input:focus {
  outline: none;
}
.header__search-btn {
  position: absolute;
  top: 0;
  right: 0;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  right: -0.4rem;

  border: none;
}
.header__right {
  margin-left: auto;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-left: auto;
}
.header__lang {
  font-size: 0.875rem;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transform: translateY(0.125rem);
}
.header__login {
  font-size: 0.875rem;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: #333;
}
.btn__singup {
  padding: 0.5rem 0.875rem;
  border: 0.0625rem solid currentColor;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  text-decoration: none;
  color: #ffffff;
  background-color: #00798a;
}
@media (max-width: 48rem) {
  .header__input--location {
    display: none;
  }
}
@media (max-width: 48rem) {
  .header__inner {
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  .header__right {
    order: 2;
    margin-right: 0;
  }
  .header__logo {
    order: 1;
  }

  .header__left {
    order: 3;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin-top: 0;
    margin-left: -1.5rem;
  }

  .header__search {
    width: 100%;
    max-width: 100%;
    height: 2.75rem;
  }
}
.header__search-btn {
  height: 100%;
  aspect-ratio: 1 / 1;
}
.header__search {
  padding-inline: 0.5rem;
}

.header__input {
  font-size: 0.875rem;
}
