.btn__joinMeetup {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;

  color: #ffffff;
  min-height: 2.5rem;
  width: 12rem;
  background-color: #e32359;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  transition: background-color 0.3s ease;
}
